<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<footer>
    <div>
        <p>Contact Us</p>
        <a href="https://github.com/Kayla-Sullens/Project-2.git"><i class="fa fa-github" style="font-size: 36px">Github</i></a>
    </div>
<P>&copy; 2023 P2-Pod2 UCR</P>
</footer>