<nav id="navbar">
  <div class="btn-group">
    <a href="/">
      <button type="button" id="homeBtn" class="btn btn-danger">
        Home
      </button>
    </a>
  </div>
  <div class="btn-group">
    <a href="/mybooks">
      <button type="button" id="myBooksBtn" class="btn btn-danger">
        My Books
      </button>
    </a>
  </div>
  <div class="btn-group">
    <a href="/myreviews">
      <button type="button" id="myReviewsBtn" class="btn btn-danger">
        My Reviews
      </button>
    </a>
  </div>
  <div class="btn-group">
    <a href="/myrecommendations">
      <button type="button" id="myRecommendBtn" class="btn btn-danger">
        My Recommendations
      </button>
    </a>
  </div>

  <div class="btn-group">
    {{#if logged_in}}
    {{! <button class="btn btn-danger" id="logout">Logout</button> }}
    <a class="btn btn-danger" id="logout">Logout</a>
    {{!-- {{else}}
    <a href="/login">Login</a> --}}
    {{/if}}
  </div>
</nav>

{{! To do:
- Need script file. Script file should use jquery to hold the functions to switch endpoints:
- When MVC is done, move script to the public folder.
}}
{{!
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> }}
<script src="https://code.jquery.com/jquery-3.7.1.min.js"
  integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

{{! BUGS:
- Why dont the mybooks, myreviews, and myrecommendations show the logout btn?
}}