{{!-- {{> navbar }} --}}

<main class="container container-fluid mt-5">
  {{!-- {{{ body }}} - body, doesnt seem to do anything here. --}}
  <div class="container">
    <div class="card-columns d-flex justify-content-center">
      <div class="card">
        <div class="card-block">
          <h3 class="card-title">Search:</h3>
          <p class="card-text">Search for your favorite book, author, or genre here!</p>
          <input type="text" placeholder="Search Books">
          <a class="btn btn-danger" id="search">Submit</a>
        </div>
      </div>
    </div>
  </div>
</main>

<div id="carousel-contianer">
{{> carousel testData=testData}} 
</div>


