<div class="row align-center mb-5">
  <div class="col-md-12">
    <h2>Logged in as {{user.name}}</h2>
    <p>{{user.email}}</p>
  </div>
  {{!-- We can move this somewhere else if its needed. --}}
  <div id="carousel-container">
  {{> carousel testData=testData }}
</div>
</div>

 </header>
  {{> navbar }}
  <main class="container container-fluid mt-5">
    {{{ body }}}
    <div class ="container">
      <div class="card-columns d-flex justify-content-center">
        <div class ="card">
          <div class="card-block">
            <h3 class="card-itle">Search:</h3>
              <p class="card-text">Search for your favorite book, author, or genre here!</p>
              <input type="text">
          </div>
        </div>
        <div class ="card">
          <div class="card-block">
            <h3 class="card-itle">Featured Books</h3>
          </div>
        </div>
      </div>
    </div>
  </main>
