MY REVIEWS
<div id="myReviews" style="display: flex; flex-wrap: wrap;">
  {{#each myReviews}}
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h4 class="card-title">Book: {{title}}</h5>
      </div>
      <div class="card-body">
        <h5 class="card-rating">Rating: {{rating}}</h5>
      </div>
      <div class="card-body">
        <h5 class="card-review">Review: {{review}}</h5>
      </div>
    </div>
  {{/each}}
</div>